<header class="site-header">
  <a class="skip-link" href="#main">Skip to content</a>
  <div class="inner">
    <div class="top-bar">
      <a class="lang-link" data-lang="ko" href="#">KR</a>
      <span>|</span>
      <a class="lang-link" data-lang="en" href="#">EN</a>
    </div>
    <div class="nav-wrap">
      <a class="brand" href="./index.html">
        <img class="brand-logo" data-logo-src="assets/img/logo.png" data-logo-placeholder="assets/img/logo-placeholder.svg" alt="Suwoncmi logo" />
        <span class="brand-title" data-site-church-name>Suwoncmi</span>
      </a>
      <nav aria-label="Main navigation">
        <ul>
          <li><a href="./index.html">Home</a></li>
          <li><a href="./about.html">About</a></li>
          <li><a href="./worship.html">Worship</a></li>
          <li><a href="./sermons.html">Sermons</a></li>
          <li><a href="./newcomers.html">Newcomers</a></li>
          <li><a href="./location.html">Location</a></li>
          <li><a href="./notice.html">Notices</a></li>
          <li><a href="./community.html">Community</a></li>
          <li><a href="./staff.html">Staff</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

