<header class="site-header">
  <a class="skip-link" href="#main">본문으로 바로가기</a>
  <div class="inner">
    <div class="top-bar">
      <a class="lang-link" data-lang="ko" href="#">KR</a>
      <span>|</span>
      <a class="lang-link" data-lang="en" href="#">EN</a>
    </div>
    <div class="nav-wrap">
      <a class="brand" href="./index.html">
        <img class="brand-logo" data-logo-src="assets/img/logo.png" data-logo-placeholder="assets/img/logo-placeholder.svg" alt="수원선교교회 로고" />
        <span class="brand-title" data-site-church-name>수원선교교회</span>
      </a>
      <nav aria-label="주요 메뉴">
        <ul>
          <li><a href="./index.html">홈</a></li>
          <li><a href="./about.html">교회소개</a></li>
          <li><a href="./worship.html">예배안내</a></li>
          <li><a href="./sermons.html">설교</a></li>
          <li><a href="./newcomers.html">새가족</a></li>
          <li><a href="./location.html">오시는길</a></li>
          <li><a href="./notice.html">공지</a></li>
          <li><a href="./community.html">커뮤니티</a></li>
          <li><a href="./staff.html">섬기는 분</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
